VITE_API_URL=https://api.example.com
VITE_MINASCAN_MAINNET_BASE_URL=https://minascan.io/mainnet
VITE_MINASCAN_DEVNET_BASE_URL=https://minascan.io/devnet
VITE_MINAEXPLORER_MAINNET_BASE_URL=https://minaexplorer.com
VITE_MINAEXPLORER_DEVNET_BASE_URL=https://devnet.minaexplorer.com
